"<script src=\"/yii-application/frontend/web/assets/532f0abc/jquery.js\">
    
</script><tr id=\"item-detbotella-4\">\n   
    <td class=\"text-center\" style=\"vertical-align: middle;\">\n 
    <button type=\"button\" onclick=\"$('#item-detbotella-4').remove(); \" data-toggle=\"tooltip\" title=\"Borrar\" class=\"btn btn-xs btn-danger\">
        <i class=\"fa fa-trash\">
        </i></button>\n  
</td>\n   
<td><div class=\"field-detdocbotellas-4-codigo required\" aria-invalid=\"true\">\n\n
    <input type=\"text\" id=\"detdocbotellas-4-codigo\" class=\"form-control\" name=\"Detdocbotellas[4][codigo]\">\n\n
        <div class=\"help-block\"></div>\n
    </div></td>               \n   
    <td><div class=\"form-group field-detdocbotellas-4-descripcion\">\n\n
        <input type=\"text\" id=\"detdocbotellas-4-descripcion\" class=\"form-control\" name=\"Detdocbotellas[4][descripcion]\">\n\n
            <div class=\"help-block\"></div>\n</div>    <div class=\"form-group field-detdocbotellas-4-id\">\n\n
            <input type=\"hidden\" id=\"detdocbotellas-4-id\" class=\"form-control\" name=\"Detdocbotellas[4][id]\">\n\n
                <div class=\"help-block\"></div>\n</div>   \n   </td> \n</tr>\n\n\n
<script src=\"/yii-application/frontend/web/assets/7e6da586/yii.js\">
    
</script>\n<script src=\"/yii-application/frontend/web/assets/7e6da586/yii.validation.js\">
    
</script>\n
<script> \n  var fieldAttributes = $('#tabular-botellas').yiiActiveForm('find', 'detdocbotellas-0-codigo');\n$('#tabular-botellas').yiiActiveForm('add', {\n    id: 'detdocbotellas-4-codigo',\n    name: '[4][codigo]',\n    container: '.field-detdocbotellas-4-codigo',\n    input: '#detdocbotellas-4-codigo',\n    error: '.help-block.help-block-error',\n    enableAjaxValidation:true,\n    validate:  fieldAttributes.validate\n});\n\n    </script>"