table {
    		    font-family: arial, sans-serif;
    		    border-collapse: collapse;
    		    width: 100%;
}
td, th {
    		    border: 1px solid #dddddd;
    		    text-align: left;
    		    padding: 8px;
}

td {
    font-family: cour;
    font-weight: normal;
    
}

td {
    font-family: cour;
    font-weight: normal;
    
}
.pagination {    
    display: none !important;
}

ul {    
    display: none !important;
}
