.base-ancho{
    width: 20% !important;
}
.linkajustado{
    margin: 0px;
    padding:0px;
}
.contenedor-tabla{

display: table;

}

.contenedor-fila{

display: table-row;

}

.contenedor-columna{

display: table-cell;

}

div.absolute {
    position: absolute;
    border-radius: 15px;
    top: 18%;
    left: 14%;
    padding: 1px;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #af5898;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    line-height: 28px;
    opacity: 0.7;
}
.cuadro{
    margin:10px;
}

@media (max-width: 480px) {
    .ajax-loader{
        top: 50%; /* IMPORTANT */
        left: 50%; /* IMPORTANT */
        display: block;
        position: absolute;
        background-color:red;
        
        width: 750px;
        height: 417px;

        margin-top: -208.5px; /* HALF OF THE HEIGHT */
        margin-left: -375px; /* HALF OF THE WIDTH */
    }
    
    h4,.h4{
        margin-top: 10px;
    margin-bottom: 10px;
    color: #d69708 !important; 
    text-shadow: 1px 1px 4px rgba(206,89,55,0.25) !important;
    }
    
    .d-inline {
    display: inline!important;
}

.modal-header {
    color:white !important;
    background-color: #81b36c;
}

    
}